<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="endpoint" value="https://scheman.documents.azure.com:443/" />
      <add key="authKey" value="enter key here" />
      <add key="database" value="ToDoList" />
      <add key="collection" value="Items" />
    </appSettings>
</configuration>